* {
  box-sizing: border-box;
}

html, 
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

.header__title {
  display: flex;
  font-size: 1.5rem;
  padding: 0px 50px;
  color: #ed6436;
}

.header__subtitle__container {
  display: flex;
  width: 100%;
  align-items: center;
  
}

.button {
  display: flex;
  width: 100%;

}

.header__subtitle {
  display: flex;
  font-size: 4rem;
  color: #181818;
  padding: 0 50px;
  margin: 0;
}

.section-gallery {
  display: flex;
  width: 100%;
  flex: 3;
  padding-bottom: 70px;
}

.gallery-container {
  display: flex;
  padding: 0 50px;
}

img {
  width: 23em;
  height: 28em;
  margin-right: 25px;
  border-radius: 10%;
  object-fit: cover;
}
